body {
  font-family: Arial, sans-serif;
  background-color: #e0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calculator {
  display: inline-block;
  padding: 1rem;
  background-color: #fff0f5;
  border: 1px solid #f0d9d9;
  border-radius: 5px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.calculator input {
  width: 100%;
  font-size: 1.5rem;
  text-align: right;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #f0d9d9;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box; /* Add this line to fix the centering */
}

.calculator .buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
}

.calculator button {
  font-size: 1.2rem;
  padding: 0.5rem;
  background-color: #f0e5d8;
  border: 1px solid #f0d9d9;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.calculator button:hover {
  background-color: #e0d1c1;
}

.calculator button.clear-btn {
  background-color: #fbc9c9;
  color: #ffffff;
  font-weight: bold;
}

.calculator button.clear-btn:hover {
  background-color: #f7b4b4;
}
